.acs_hms_graph_control {
    overflow-y: auto;
    max-height: 93vh;
    padding: 5px;
}

.hms-graph-header {
    padding: -0.8rem 0 2.6rem 0 !important;
    border-bottom: 1px solid #3f3f3f1a !important;
    color: #444444;
    background-color: #ffffff !important;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    margin-left: 22px;
    margin-right: 22px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1)
}

.graph-filter-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    gap: 10px;
    align-items: center;
}

.graph-filter-btn {
    color: white;
    padding: 8px 15px;
    font-size: 15px;
    border: none; 
    outline: none;
    position: relative; 
    opacity: 0.8; 
    border-radius: 5px;
}

.graph-filter-btn.active {
    font-weight: bold;
    opacity: 1; 
}

.hms-graph-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
}

.hms-graph-content .hms-graph-section .hms-graph-section-header {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;
    border-radius: 0;
    border-top: 1px solid #f9f9f9;
    padding-left: 35px;
    padding-right: 35px
}

.hms-graph-main-content {
    transition: all 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0
}

.hms-graph-section {
    position: relative;
    z-index: 1
}

.hms-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

/* Cards */
.hms-graph-card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1)
}

.hms-graph-card .hms-graph-card-statistic-4 {
    position: relative;
    color: #000000;
    padding: 12px;
    border-radius: 3px;
    overflow: hidden
}

.hms-graph-card .hms-graph-card-statistic-4 .hms-graph-card-icon-large {
    font-size: 110px;
    width: 110px;
    height: 50px;
    text-shadow: 3px 7px rgba(0, 0, 0, 0.3)
}

.hms-graph-card .hms-graph-card-statistic-4 .hms-graph-card-icon {
    text-align: center;
    line-height: 50px;
    color: #000;
    opacity: 0.8; /*Optional*/
    padding-top: 5px;
}

.hms-graph-card-icon:hover i {
    transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -webkit-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -moz-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -ms-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -o-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    opacity: 0.4;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.hms-graph-card:hover .title {
    transform: scale(0.85); /* Zoom out */
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transition: all 0.4s ease; /* Smooth transition */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.hms-graph-card:hover .value {
    transform: scale(1.2); /* Zoom in */
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 0.4s ease; /* Smooth transition */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.graph-filter-btn:hover {
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.icon-style {
    font-size: 66px;
}

.align-items-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important
}

.pt-3 {
    padding-top: 0rem !important
}

.pr-0 {
    padding-right: 0 !important
}

.hms-graph-card .hms-graph-card-statistic-4 .hms-graph-card-content {
    color: #3e434b
}

.font-15 {
    font-size: 17px !important
}

.font-18 {
    font-size: 17px !important
}

.view-details {
    margin-bottom: 0 !important
}

.pl-0 {
    padding-left: 0 !important
}

.hms-graph-card .hms-graph-card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.hms-graph-card .hms-graph-card-body th{
    padding-left: 25px;
    font-weight: bold;
    font-size: 15px;
}

.hms-graph-card .hms-graph-card-body td{
    padding-left: 25px;
    text-align: center;
}

/* Charts */
.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.hms-graph-chart-header {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.hms-graph-chart-header h4 {
    color: #ffffff;
    margin-bottom: 5px;
}

.hms-graph-card .hms-graph-chart-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.hms-graph-widget {
    height: 25px; 
    width: 25px;
    margin-top: -3px;
}

.hms-chart-header-text {
    color: white;
    padding-left: 6px;
    padding-top: 4px;
    font-weight: bold;
    font-size: 15px;
    margin-top: -3px;
}