///
/// Online Meetings view changes.
///
.acs_appointment input {
  display: none;
}

.acs_appointment label {
  cursor: pointer;
  filter: grayscale(100%);
  display: inline;
}

.acs_appointment label:hover {
  filter: grayscale(0);
}

.acs_appointment input[type="radio"]:checked + label {
  filter: grayscale(0);
}

.acs_image {
  width: 155px;
  @media (max-width: 768px) {
    width: 30% !important;
  }
}

.acs_user_image {
    border-radius: 50%;
    width: 100px;
}

.acs_basic_info {
  max-height: 85px !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.acs_slot_date {
  font-size: 1.2em;
  padding: 10px 10px;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  border-radius: 5px;
  color: white;
}

.acs_small_font {
  font-size: 0.8em;
}

.acs_hide {
  display: none;
}

.acs_gray_border {
  border: 1px solid lightgray;
}

.appoint_department_panel .appoint_person_panel {
  min-height: 85px !important;
}

.acs_slot_not_selected {
  color: red;
}

.acs_no_slots {
  color: red;
  margin: 30px;
}

.acs_patients_selection, .acs_patient_card {
  align-items: center;
  justify-content: center;
}
.acs_patient_image {
  border-radius: 50%;
  width: 120px;
}

.acs_physician_block, .acs_department_block {
  width: auto;
}

.acs_physician_block label,.acs_department_block label{
  min-width: 25vw !important;
}

// Physician
.acs_physician_img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;
}

// Department
.acs_department_img {
  width: 75px; 
  height: 75px; 
  object-fit: cover;
}

.acs_about_info {
  max-height: 40px; 
  overflow: hidden; 
}