table td {
    padding: 4px;
    vertical-align: top;
    border: 1px solid black;
}

.acs-table-border td {
    border: 1px solid black;
}

.acs-label {
    font-weight: bold;
    width: 35%;
}

.acs-value {
    width: 65%;
}

.checkbox-square {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-right: 5px;
}

.checked-box::before {
    content: "\2713";
    display: block;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
}
